@charset "utf-8";
@use "sass:math";

// ---------- Media query ----------
$sm: 375px; // SP
$md: 768px; // Tablet〜PC
$lg: 992px; // PC
$xl: 1200px; // PC（1200px）

// ---------- Color ----------
$white: #fff;
$black: #000;

$black-000: #000;
$black-100: #111;
$black-200: #222;
$black-300: #333;
$black-400: #444;
$black-500: #555;
$black-600: #666;
$black-700: #777;
$black-800: #888;
$black-900: #999;

$glay-100: #f4f4f4;
$glay-200: #f5f5f0;
$glay-300: #e5e5e5;
$glay-400: #707070;

$green-100: #166043;
$primary: $green-100;

$text-color: #222;

$border-color: #ddd;

$hover-color: $primary;

$body-bg: $white;
$body-color: $black-200;

// ---------- text Color ----------
$text-primary-color: $black;

// ---------- border radius ----------
$border-radius-sm: 5px;
$border-radius-md: 8px;
$rounded-pill: 50rem;

// ---------- font weight ----------
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// ---------- letter spacing ----------
$letter-spacing-sm: 0.01em;
$letter-spacing-md: 0.05em;
$letter-spacing-lg: 0.07em;
$letter-spacing-xl: 0.1em;

// ---------- text shadow ----------
$text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

// ---------- box shadow ----------
$box-shadow-sm: 1px 1px 13px rgba(0, 0, 0, 0.1);
$box-shadow-md: 2px 3px 10px rgba(0, 0, 0, 0.1);

// ---------- z-index ----------
$zindex-under: -1000;
$zindex-header: 1000;
$zindex-dropdown: 1010;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

// ---------- transition ----------
$transition: 0.2s;

// ---------- hover ----------
$hover-transition: 0.2s;
$hover-border: 2px solid $primary;
$hover-border-white: 2px solid $white;
$hover-trasform: scale(1.15);
$hover-opacity: 0.8;

// ---------- vwサイズ表（375px換算） ----------
$base-viewport-size: 375; //viewportサイズを指定（デザインデータのアートボードサイズ換算）
$vw1: (math.div(1vw, $base-viewport-size) * 100);
$vw2: (math.div(2vw, $base-viewport-size) * 100);
$vw3: (math.div(3vw, $base-viewport-size) * 100);
$vw4: (math.div(4vw, $base-viewport-size) * 100);
$vw5: (math.div(5vw, $base-viewport-size) * 100);
$vw6: (math.div(6vw, $base-viewport-size) * 100);
$vw7: (math.div(7vw, $base-viewport-size) * 100);
$vw8: (math.div(8vw, $base-viewport-size) * 100);
$vw9: (math.div(9vw, $base-viewport-size) * 100);
$vw10: (math.div(10vw, $base-viewport-size) * 100);
$vw11: (math.div(11vw, $base-viewport-size) * 100);
$vw12: (math.div(12vw, $base-viewport-size) * 100);
$vw13: (math.div(13vw, $base-viewport-size) * 100);
$vw14: (math.div(14vw, $base-viewport-size) * 100);
$vw15: (math.div(15vw, $base-viewport-size) * 100);
$vw16: (math.div(16vw, $base-viewport-size) * 100);
$vw17: (math.div(17vw, $base-viewport-size) * 100);
$vw18: (math.div(18vw, $base-viewport-size) * 100);
$vw19: (math.div(19vw, $base-viewport-size) * 100);
$vw20: (math.div(20vw, $base-viewport-size) * 100);
$vw21: (math.div(21vw, $base-viewport-size) * 100);
$vw22: (math.div(22vw, $base-viewport-size) * 100);
$vw23: (math.div(23vw, $base-viewport-size) * 100);
$vw24: (math.div(24vw, $base-viewport-size) * 100);
$vw25: (math.div(25vw, $base-viewport-size) * 100);
$vw26: (math.div(26vw, $base-viewport-size) * 100);
$vw27: (math.div(27vw, $base-viewport-size) * 100);
$vw28: (math.div(28vw, $base-viewport-size) * 100);
$vw29: (math.div(29vw, $base-viewport-size) * 100);
$vw30: (math.div(30vw, $base-viewport-size) * 100);
$vw31: (math.div(31vw, $base-viewport-size) * 100);
$vw32: (math.div(32vw, $base-viewport-size) * 100);
$vw33: (math.div(33vw, $base-viewport-size) * 100);
$vw34: (math.div(34vw, $base-viewport-size) * 100);
$vw35: (math.div(35vw, $base-viewport-size) * 100);
$vw36: (math.div(36vw, $base-viewport-size) * 100);
$vw37: (math.div(37vw, $base-viewport-size) * 100);
$vw38: (math.div(38vw, $base-viewport-size) * 100);
$vw39: (math.div(39vw, $base-viewport-size) * 100);
$vw40: (math.div(40vw, $base-viewport-size) * 100);
$vw41: (math.div(41vw, $base-viewport-size) * 100);
$vw42: (math.div(42vw, $base-viewport-size) * 100);
$vw43: (math.div(43vw, $base-viewport-size) * 100);
$vw44: (math.div(44vw, $base-viewport-size) * 100);
$vw45: (math.div(45vw, $base-viewport-size) * 100);
$vw46: (math.div(46vw, $base-viewport-size) * 100);
$vw47: (math.div(47vw, $base-viewport-size) * 100);
$vw48: (math.div(48vw, $base-viewport-size) * 100);
$vw49: (math.div(49vw, $base-viewport-size) * 100);
$vw50: (math.div(50vw, $base-viewport-size) * 100);
$vw51: (math.div(51vw, $base-viewport-size) * 100);
$vw52: (math.div(52vw, $base-viewport-size) * 100);
$vw53: (math.div(53vw, $base-viewport-size) * 100);
$vw54: (math.div(54vw, $base-viewport-size) * 100);
$vw55: (math.div(55vw, $base-viewport-size) * 100);
$vw56: (math.div(56vw, $base-viewport-size) * 100);
$vw57: (math.div(57vw, $base-viewport-size) * 100);
$vw58: (math.div(58vw, $base-viewport-size) * 100);
$vw59: (math.div(59vw, $base-viewport-size) * 100);
$vw60: (math.div(60vw, $base-viewport-size) * 100);
$vw61: (math.div(61vw, $base-viewport-size) * 100);
$vw62: (math.div(62vw, $base-viewport-size) * 100);
$vw63: (math.div(63vw, $base-viewport-size) * 100);
$vw64: (math.div(64vw, $base-viewport-size) * 100);
$vw65: (math.div(65vw, $base-viewport-size) * 100);
$vw66: (math.div(66vw, $base-viewport-size) * 100);
$vw67: (math.div(67vw, $base-viewport-size) * 100);
$vw68: (math.div(68vw, $base-viewport-size) * 100);
$vw69: (math.div(69vw, $base-viewport-size) * 100);
$vw70: (math.div(70vw, $base-viewport-size) * 100);
$vw71: (math.div(71vw, $base-viewport-size) * 100);
$vw72: (math.div(72vw, $base-viewport-size) * 100);
$vw73: (math.div(73vw, $base-viewport-size) * 100);
$vw74: (math.div(74vw, $base-viewport-size) * 100);
$vw75: (math.div(75vw, $base-viewport-size) * 100);
$vw76: (math.div(76vw, $base-viewport-size) * 100);
$vw77: (math.div(77vw, $base-viewport-size) * 100);
$vw78: (math.div(78vw, $base-viewport-size) * 100);
$vw79: (math.div(79vw, $base-viewport-size) * 100);
$vw80: (math.div(80vw, $base-viewport-size) * 100);
$vw81: (math.div(81vw, $base-viewport-size) * 100);
$vw82: (math.div(82vw, $base-viewport-size) * 100);
$vw83: (math.div(83vw, $base-viewport-size) * 100);
$vw84: (math.div(84vw, $base-viewport-size) * 100);
$vw85: (math.div(85vw, $base-viewport-size) * 100);
$vw86: (math.div(86vw, $base-viewport-size) * 100);
$vw87: (math.div(87vw, $base-viewport-size) * 100);
$vw88: (math.div(88vw, $base-viewport-size) * 100);
$vw89: (math.div(89vw, $base-viewport-size) * 100);
$vw90: (math.div(90vw, $base-viewport-size) * 100);
$vw91: (math.div(91vw, $base-viewport-size) * 100);
$vw92: (math.div(92vw, $base-viewport-size) * 100);
$vw93: (math.div(93vw, $base-viewport-size) * 100);
$vw94: (math.div(94vw, $base-viewport-size) * 100);
$vw95: (math.div(95vw, $base-viewport-size) * 100);
$vw96: (math.div(96vw, $base-viewport-size) * 100);
$vw97: (math.div(97vw, $base-viewport-size) * 100);
$vw98: (math.div(98vw, $base-viewport-size) * 100);
$vw99: (math.div(99vw, $base-viewport-size) * 100);
$vw100: (math.div(100vw, $base-viewport-size) * 100);
$vw101: (math.div(101vw, $base-viewport-size) * 100);
$vw102: (math.div(102vw, $base-viewport-size) * 100);
$vw103: (math.div(103vw, $base-viewport-size) * 100);
$vw104: (math.div(104vw, $base-viewport-size) * 100);
$vw105: (math.div(105vw, $base-viewport-size) * 100);
$vw106: (math.div(106vw, $base-viewport-size) * 100);
$vw107: (math.div(107vw, $base-viewport-size) * 100);
$vw108: (math.div(108vw, $base-viewport-size) * 100);
$vw109: (math.div(109vw, $base-viewport-size) * 100);
$vw110: (math.div(110vw, $base-viewport-size) * 100);
$vw111: (math.div(111vw, $base-viewport-size) * 100);
$vw112: (math.div(112vw, $base-viewport-size) * 100);
$vw113: (math.div(113vw, $base-viewport-size) * 100);
$vw114: (math.div(114vw, $base-viewport-size) * 100);
$vw115: (math.div(115vw, $base-viewport-size) * 100);
$vw116: (math.div(116vw, $base-viewport-size) * 100);
$vw117: (math.div(117vw, $base-viewport-size) * 100);
$vw118: (math.div(118vw, $base-viewport-size) * 100);
$vw119: (math.div(119vw, $base-viewport-size) * 100);
$vw120: (math.div(120vw, $base-viewport-size) * 100);
$vw121: (math.div(121vw, $base-viewport-size) * 100);
$vw122: (math.div(122vw, $base-viewport-size) * 100);
$vw123: (math.div(123vw, $base-viewport-size) * 100);
$vw124: (math.div(124vw, $base-viewport-size) * 100);
$vw125: (math.div(125vw, $base-viewport-size) * 100);
$vw126: (math.div(126vw, $base-viewport-size) * 100);
$vw127: (math.div(127vw, $base-viewport-size) * 100);
$vw128: (math.div(128vw, $base-viewport-size) * 100);
$vw129: (math.div(129vw, $base-viewport-size) * 100);
$vw130: (math.div(130vw, $base-viewport-size) * 100);
$vw131: (math.div(131vw, $base-viewport-size) * 100);
$vw132: (math.div(132vw, $base-viewport-size) * 100);
$vw133: (math.div(133vw, $base-viewport-size) * 100);
$vw134: (math.div(134vw, $base-viewport-size) * 100);
$vw135: (math.div(135vw, $base-viewport-size) * 100);
$vw136: (math.div(136vw, $base-viewport-size) * 100);
$vw137: (math.div(137vw, $base-viewport-size) * 100);
$vw138: (math.div(138vw, $base-viewport-size) * 100);
$vw139: (math.div(139vw, $base-viewport-size) * 100);
$vw140: (math.div(140vw, $base-viewport-size) * 100);
$vw141: (math.div(141vw, $base-viewport-size) * 100);
$vw142: (math.div(142vw, $base-viewport-size) * 100);
$vw143: (math.div(143vw, $base-viewport-size) * 100);
$vw144: (math.div(144vw, $base-viewport-size) * 100);
$vw145: (math.div(145vw, $base-viewport-size) * 100);
$vw146: (math.div(146vw, $base-viewport-size) * 100);
$vw147: (math.div(147vw, $base-viewport-size) * 100);
$vw148: (math.div(148vw, $base-viewport-size) * 100);
$vw149: (math.div(149vw, $base-viewport-size) * 100);
$vw150: (math.div(150vw, $base-viewport-size) * 100);
$vw151: (math.div(151vw, $base-viewport-size) * 100);
$vw152: (math.div(152vw, $base-viewport-size) * 100);
$vw153: (math.div(153vw, $base-viewport-size) * 100);
$vw154: (math.div(154vw, $base-viewport-size) * 100);
$vw155: (math.div(155vw, $base-viewport-size) * 100);
$vw156: (math.div(156vw, $base-viewport-size) * 100);
$vw157: (math.div(157vw, $base-viewport-size) * 100);
$vw158: (math.div(158vw, $base-viewport-size) * 100);
$vw159: (math.div(159vw, $base-viewport-size) * 100);
$vw160: (math.div(160vw, $base-viewport-size) * 100);
$vw161: (math.div(161vw, $base-viewport-size) * 100);
$vw162: (math.div(162vw, $base-viewport-size) * 100);
$vw163: (math.div(163vw, $base-viewport-size) * 100);
$vw164: (math.div(164vw, $base-viewport-size) * 100);
$vw165: (math.div(165vw, $base-viewport-size) * 100);
$vw166: (math.div(166vw, $base-viewport-size) * 100);
$vw167: (math.div(167vw, $base-viewport-size) * 100);
$vw168: (math.div(168vw, $base-viewport-size) * 100);
$vw169: (math.div(169vw, $base-viewport-size) * 100);
$vw170: (math.div(170vw, $base-viewport-size) * 100);
$vw171: (math.div(171vw, $base-viewport-size) * 100);
$vw172: (math.div(172vw, $base-viewport-size) * 100);
$vw173: (math.div(173vw, $base-viewport-size) * 100);
$vw174: (math.div(174vw, $base-viewport-size) * 100);
$vw175: (math.div(175vw, $base-viewport-size) * 100);
$vw176: (math.div(176vw, $base-viewport-size) * 100);
$vw177: (math.div(177vw, $base-viewport-size) * 100);
$vw178: (math.div(178vw, $base-viewport-size) * 100);
$vw179: (math.div(179vw, $base-viewport-size) * 100);
$vw180: (math.div(180vw, $base-viewport-size) * 100);
$vw181: (math.div(181vw, $base-viewport-size) * 100);
$vw182: (math.div(182vw, $base-viewport-size) * 100);
$vw183: (math.div(183vw, $base-viewport-size) * 100);
$vw184: (math.div(184vw, $base-viewport-size) * 100);
$vw185: (math.div(185vw, $base-viewport-size) * 100);
$vw186: (math.div(186vw, $base-viewport-size) * 100);
$vw187: (math.div(187vw, $base-viewport-size) * 100);
$vw188: (math.div(188vw, $base-viewport-size) * 100);
$vw189: (math.div(189vw, $base-viewport-size) * 100);
$vw190: (math.div(190vw, $base-viewport-size) * 100);
$vw191: (math.div(191vw, $base-viewport-size) * 100);
$vw192: (math.div(192vw, $base-viewport-size) * 100);
$vw193: (math.div(193vw, $base-viewport-size) * 100);
$vw194: (math.div(194vw, $base-viewport-size) * 100);
$vw195: (math.div(195vw, $base-viewport-size) * 100);
$vw196: (math.div(196vw, $base-viewport-size) * 100);
$vw197: (math.div(197vw, $base-viewport-size) * 100);
$vw198: (math.div(198vw, $base-viewport-size) * 100);
$vw199: (math.div(199vw, $base-viewport-size) * 100);
$vw200: (math.div(200vw, $base-viewport-size) * 100);
$vw201: (math.div(201vw, $base-viewport-size) * 100);
$vw202: (math.div(202vw, $base-viewport-size) * 100);
$vw203: (math.div(203vw, $base-viewport-size) * 100);
$vw204: (math.div(204vw, $base-viewport-size) * 100);
$vw205: (math.div(205vw, $base-viewport-size) * 100);
$vw206: (math.div(206vw, $base-viewport-size) * 100);
$vw207: (math.div(207vw, $base-viewport-size) * 100);
$vw208: (math.div(208vw, $base-viewport-size) * 100);
$vw209: (math.div(209vw, $base-viewport-size) * 100);
$vw210: (math.div(210vw, $base-viewport-size) * 100);
$vw211: (math.div(211vw, $base-viewport-size) * 100);
$vw212: (math.div(212vw, $base-viewport-size) * 100);
$vw213: (math.div(213vw, $base-viewport-size) * 100);
$vw214: (math.div(214vw, $base-viewport-size) * 100);
$vw215: (math.div(215vw, $base-viewport-size) * 100);
$vw216: (math.div(216vw, $base-viewport-size) * 100);
$vw217: (math.div(217vw, $base-viewport-size) * 100);
$vw218: (math.div(218vw, $base-viewport-size) * 100);
$vw219: (math.div(219vw, $base-viewport-size) * 100);
$vw220: (math.div(220vw, $base-viewport-size) * 100);
$vw221: (math.div(221vw, $base-viewport-size) * 100);
$vw222: (math.div(222vw, $base-viewport-size) * 100);
$vw223: (math.div(223vw, $base-viewport-size) * 100);
$vw224: (math.div(224vw, $base-viewport-size) * 100);
$vw225: (math.div(225vw, $base-viewport-size) * 100);
$vw226: (math.div(226vw, $base-viewport-size) * 100);
$vw227: (math.div(227vw, $base-viewport-size) * 100);
$vw228: (math.div(228vw, $base-viewport-size) * 100);
$vw229: (math.div(229vw, $base-viewport-size) * 100);
$vw230: (math.div(230vw, $base-viewport-size) * 100);
$vw231: (math.div(231vw, $base-viewport-size) * 100);
$vw232: (math.div(232vw, $base-viewport-size) * 100);
$vw233: (math.div(233vw, $base-viewport-size) * 100);
$vw234: (math.div(234vw, $base-viewport-size) * 100);
$vw235: (math.div(235vw, $base-viewport-size) * 100);
$vw236: (math.div(236vw, $base-viewport-size) * 100);
$vw237: (math.div(237vw, $base-viewport-size) * 100);
$vw238: (math.div(238vw, $base-viewport-size) * 100);
$vw239: (math.div(239vw, $base-viewport-size) * 100);
$vw240: (math.div(240vw, $base-viewport-size) * 100);
$vw241: (math.div(241vw, $base-viewport-size) * 100);
$vw242: (math.div(242vw, $base-viewport-size) * 100);
$vw243: (math.div(243vw, $base-viewport-size) * 100);
$vw244: (math.div(244vw, $base-viewport-size) * 100);
$vw245: (math.div(245vw, $base-viewport-size) * 100);
$vw246: (math.div(246vw, $base-viewport-size) * 100);
$vw247: (math.div(247vw, $base-viewport-size) * 100);
$vw248: (math.div(248vw, $base-viewport-size) * 100);
$vw249: (math.div(249vw, $base-viewport-size) * 100);
$vw250: (math.div(250vw, $base-viewport-size) * 100);
$vw251: (math.div(251vw, $base-viewport-size) * 100);
$vw252: (math.div(252vw, $base-viewport-size) * 100);
$vw253: (math.div(253vw, $base-viewport-size) * 100);
$vw254: (math.div(254vw, $base-viewport-size) * 100);
$vw255: (math.div(255vw, $base-viewport-size) * 100);
$vw256: (math.div(256vw, $base-viewport-size) * 100);
$vw257: (math.div(257vw, $base-viewport-size) * 100);
$vw258: (math.div(258vw, $base-viewport-size) * 100);
$vw259: (math.div(259vw, $base-viewport-size) * 100);
$vw260: (math.div(260vw, $base-viewport-size) * 100);
$vw261: (math.div(261vw, $base-viewport-size) * 100);
$vw262: (math.div(262vw, $base-viewport-size) * 100);
$vw263: (math.div(263vw, $base-viewport-size) * 100);
$vw264: (math.div(264vw, $base-viewport-size) * 100);
$vw265: (math.div(265vw, $base-viewport-size) * 100);
$vw266: (math.div(266vw, $base-viewport-size) * 100);
$vw267: (math.div(267vw, $base-viewport-size) * 100);
$vw268: (math.div(268vw, $base-viewport-size) * 100);
$vw269: (math.div(269vw, $base-viewport-size) * 100);
$vw270: (math.div(270vw, $base-viewport-size) * 100);
$vw271: (math.div(271vw, $base-viewport-size) * 100);
$vw272: (math.div(272vw, $base-viewport-size) * 100);
$vw273: (math.div(273vw, $base-viewport-size) * 100);
$vw274: (math.div(274vw, $base-viewport-size) * 100);
$vw275: (math.div(275vw, $base-viewport-size) * 100);
$vw276: (math.div(276vw, $base-viewport-size) * 100);
$vw277: (math.div(277vw, $base-viewport-size) * 100);
$vw278: (math.div(278vw, $base-viewport-size) * 100);
$vw279: (math.div(279vw, $base-viewport-size) * 100);
$vw280: (math.div(280vw, $base-viewport-size) * 100);
$vw281: (math.div(281vw, $base-viewport-size) * 100);
$vw282: (math.div(282vw, $base-viewport-size) * 100);
$vw283: (math.div(283vw, $base-viewport-size) * 100);
$vw284: (math.div(284vw, $base-viewport-size) * 100);
$vw285: (math.div(285vw, $base-viewport-size) * 100);
$vw286: (math.div(286vw, $base-viewport-size) * 100);
$vw287: (math.div(287vw, $base-viewport-size) * 100);
$vw288: (math.div(288vw, $base-viewport-size) * 100);
$vw289: (math.div(289vw, $base-viewport-size) * 100);
$vw290: (math.div(290vw, $base-viewport-size) * 100);
$vw291: (math.div(291vw, $base-viewport-size) * 100);
$vw292: (math.div(292vw, $base-viewport-size) * 100);
$vw293: (math.div(293vw, $base-viewport-size) * 100);
$vw294: (math.div(294vw, $base-viewport-size) * 100);
$vw295: (math.div(295vw, $base-viewport-size) * 100);
$vw296: (math.div(296vw, $base-viewport-size) * 100);
$vw297: (math.div(297vw, $base-viewport-size) * 100);
$vw298: (math.div(298vw, $base-viewport-size) * 100);
$vw299: (math.div(299vw, $base-viewport-size) * 100);
$vw300: (math.div(300vw, $base-viewport-size) * 100);
$vw301: (math.div(301vw, $base-viewport-size) * 100);
$vw302: (math.div(302vw, $base-viewport-size) * 100);
$vw303: (math.div(303vw, $base-viewport-size) * 100);
$vw304: (math.div(304vw, $base-viewport-size) * 100);
$vw305: (math.div(305vw, $base-viewport-size) * 100);
$vw306: (math.div(306vw, $base-viewport-size) * 100);
$vw307: (math.div(307vw, $base-viewport-size) * 100);
$vw308: (math.div(308vw, $base-viewport-size) * 100);
$vw309: (math.div(309vw, $base-viewport-size) * 100);
$vw310: (math.div(310vw, $base-viewport-size) * 100);
$vw311: (math.div(311vw, $base-viewport-size) * 100);
$vw312: (math.div(312vw, $base-viewport-size) * 100);
$vw313: (math.div(313vw, $base-viewport-size) * 100);
$vw314: (math.div(314vw, $base-viewport-size) * 100);
$vw315: (math.div(315vw, $base-viewport-size) * 100);
$vw316: (math.div(316vw, $base-viewport-size) * 100);
$vw317: (math.div(317vw, $base-viewport-size) * 100);
$vw318: (math.div(318vw, $base-viewport-size) * 100);
$vw319: (math.div(319vw, $base-viewport-size) * 100);
$vw320: (math.div(320vw, $base-viewport-size) * 100);
$vw321: (math.div(321vw, $base-viewport-size) * 100);
$vw322: (math.div(322vw, $base-viewport-size) * 100);
$vw323: (math.div(323vw, $base-viewport-size) * 100);
$vw324: (math.div(324vw, $base-viewport-size) * 100);
$vw325: (math.div(325vw, $base-viewport-size) * 100);
$vw326: (math.div(326vw, $base-viewport-size) * 100);
$vw327: (math.div(327vw, $base-viewport-size) * 100);
$vw328: (math.div(328vw, $base-viewport-size) * 100);
$vw329: (math.div(329vw, $base-viewport-size) * 100);
$vw330: (math.div(330vw, $base-viewport-size) * 100);
$vw331: (math.div(331vw, $base-viewport-size) * 100);
$vw332: (math.div(332vw, $base-viewport-size) * 100);
$vw333: (math.div(333vw, $base-viewport-size) * 100);
$vw334: (math.div(334vw, $base-viewport-size) * 100);
$vw335: (math.div(335vw, $base-viewport-size) * 100);
$vw336: (math.div(336vw, $base-viewport-size) * 100);
$vw337: (math.div(337vw, $base-viewport-size) * 100);
$vw338: (math.div(338vw, $base-viewport-size) * 100);
$vw339: (math.div(339vw, $base-viewport-size) * 100);
$vw340: (math.div(340vw, $base-viewport-size) * 100);
$vw341: (math.div(341vw, $base-viewport-size) * 100);
$vw342: (math.div(342vw, $base-viewport-size) * 100);
$vw343: (math.div(343vw, $base-viewport-size) * 100);
$vw344: (math.div(344vw, $base-viewport-size) * 100);
$vw345: (math.div(345vw, $base-viewport-size) * 100);
$vw346: (math.div(346vw, $base-viewport-size) * 100);
$vw347: (math.div(347vw, $base-viewport-size) * 100);
$vw348: (math.div(348vw, $base-viewport-size) * 100);
$vw349: (math.div(349vw, $base-viewport-size) * 100);
$vw350: (math.div(350vw, $base-viewport-size) * 100);
$vw351: (math.div(351vw, $base-viewport-size) * 100);
$vw352: (math.div(352vw, $base-viewport-size) * 100);
$vw353: (math.div(353vw, $base-viewport-size) * 100);
$vw354: (math.div(354vw, $base-viewport-size) * 100);
$vw355: (math.div(355vw, $base-viewport-size) * 100);
$vw356: (math.div(356vw, $base-viewport-size) * 100);
$vw357: (math.div(357vw, $base-viewport-size) * 100);
$vw358: (math.div(358vw, $base-viewport-size) * 100);
$vw359: (math.div(359vw, $base-viewport-size) * 100);
$vw360: (math.div(360vw, $base-viewport-size) * 100);
$vw361: (math.div(361vw, $base-viewport-size) * 100);
$vw362: (math.div(362vw, $base-viewport-size) * 100);
$vw363: (math.div(363vw, $base-viewport-size) * 100);
$vw364: (math.div(364vw, $base-viewport-size) * 100);
$vw365: (math.div(365vw, $base-viewport-size) * 100);
$vw366: (math.div(366vw, $base-viewport-size) * 100);
$vw367: (math.div(367vw, $base-viewport-size) * 100);
$vw368: (math.div(368vw, $base-viewport-size) * 100);
$vw369: (math.div(369vw, $base-viewport-size) * 100);
$vw370: (math.div(370vw, $base-viewport-size) * 100);
$vw371: (math.div(371vw, $base-viewport-size) * 100);
$vw372: (math.div(372vw, $base-viewport-size) * 100);
$vw373: (math.div(373vw, $base-viewport-size) * 100);
$vw374: (math.div(374vw, $base-viewport-size) * 100);
$vw375: (math.div(375vw, $base-viewport-size) * 100);
$vw376: (math.div(376vw, $base-viewport-size) * 100);
$vw377: (math.div(377vw, $base-viewport-size) * 100);
$vw378: (math.div(378vw, $base-viewport-size) * 100);
$vw379: (math.div(379vw, $base-viewport-size) * 100);
$vw380: (math.div(380vw, $base-viewport-size) * 100);
$vw381: (math.div(381vw, $base-viewport-size) * 100);
$vw382: (math.div(382vw, $base-viewport-size) * 100);
$vw383: (math.div(383vw, $base-viewport-size) * 100);
$vw384: (math.div(384vw, $base-viewport-size) * 100);
$vw385: (math.div(385vw, $base-viewport-size) * 100);
$vw386: (math.div(386vw, $base-viewport-size) * 100);
$vw387: (math.div(387vw, $base-viewport-size) * 100);
$vw388: (math.div(388vw, $base-viewport-size) * 100);
$vw389: (math.div(389vw, $base-viewport-size) * 100);
$vw390: (math.div(390vw, $base-viewport-size) * 100);
$vw391: (math.div(391vw, $base-viewport-size) * 100);
$vw392: (math.div(392vw, $base-viewport-size) * 100);
$vw393: (math.div(393vw, $base-viewport-size) * 100);
$vw394: (math.div(394vw, $base-viewport-size) * 100);
$vw395: (math.div(395vw, $base-viewport-size) * 100);
$vw396: (math.div(396vw, $base-viewport-size) * 100);
$vw397: (math.div(397vw, $base-viewport-size) * 100);
$vw398: (math.div(398vw, $base-viewport-size) * 100);
$vw399: (math.div(399vw, $base-viewport-size) * 100);
$vw400: (math.div(400vw, $base-viewport-size) * 100);
$vw401: (math.div(401vw, $base-viewport-size) * 100);
$vw402: (math.div(402vw, $base-viewport-size) * 100);
$vw403: (math.div(403vw, $base-viewport-size) * 100);
$vw404: (math.div(404vw, $base-viewport-size) * 100);
$vw405: (math.div(405vw, $base-viewport-size) * 100);
$vw406: (math.div(406vw, $base-viewport-size) * 100);
$vw407: (math.div(407vw, $base-viewport-size) * 100);
$vw408: (math.div(408vw, $base-viewport-size) * 100);
$vw409: (math.div(409vw, $base-viewport-size) * 100);
$vw410: (math.div(410vw, $base-viewport-size) * 100);
$vw411: (math.div(411vw, $base-viewport-size) * 100);
$vw412: (math.div(412vw, $base-viewport-size) * 100);
$vw413: (math.div(413vw, $base-viewport-size) * 100);
$vw414: (math.div(414vw, $base-viewport-size) * 100);
$vw415: (math.div(415vw, $base-viewport-size) * 100);
$vw416: (math.div(416vw, $base-viewport-size) * 100);
$vw417: (math.div(417vw, $base-viewport-size) * 100);
$vw418: (math.div(418vw, $base-viewport-size) * 100);
$vw419: (math.div(419vw, $base-viewport-size) * 100);
$vw420: (math.div(420vw, $base-viewport-size) * 100);
$vw421: (math.div(421vw, $base-viewport-size) * 100);
$vw422: (math.div(422vw, $base-viewport-size) * 100);
$vw423: (math.div(423vw, $base-viewport-size) * 100);
$vw424: (math.div(424vw, $base-viewport-size) * 100);
$vw425: (math.div(425vw, $base-viewport-size) * 100);
$vw426: (math.div(426vw, $base-viewport-size) * 100);
$vw427: (math.div(427vw, $base-viewport-size) * 100);
$vw428: (math.div(428vw, $base-viewport-size) * 100);
$vw429: (math.div(429vw, $base-viewport-size) * 100);
$vw430: (math.div(430vw, $base-viewport-size) * 100);
$vw431: (math.div(431vw, $base-viewport-size) * 100);
$vw432: (math.div(432vw, $base-viewport-size) * 100);
$vw433: (math.div(433vw, $base-viewport-size) * 100);
$vw434: (math.div(434vw, $base-viewport-size) * 100);
$vw435: (math.div(435vw, $base-viewport-size) * 100);
$vw436: (math.div(436vw, $base-viewport-size) * 100);
$vw437: (math.div(437vw, $base-viewport-size) * 100);
$vw438: (math.div(438vw, $base-viewport-size) * 100);
$vw439: (math.div(439vw, $base-viewport-size) * 100);
$vw440: (math.div(440vw, $base-viewport-size) * 100);
$vw441: (math.div(441vw, $base-viewport-size) * 100);
$vw442: (math.div(442vw, $base-viewport-size) * 100);
$vw443: (math.div(443vw, $base-viewport-size) * 100);
$vw444: (math.div(444vw, $base-viewport-size) * 100);
$vw445: (math.div(445vw, $base-viewport-size) * 100);
$vw446: (math.div(446vw, $base-viewport-size) * 100);
$vw447: (math.div(447vw, $base-viewport-size) * 100);
$vw448: (math.div(448vw, $base-viewport-size) * 100);
$vw449: (math.div(449vw, $base-viewport-size) * 100);
$vw450: (math.div(450vw, $base-viewport-size) * 100);
$vw451: (math.div(451vw, $base-viewport-size) * 100);
$vw452: (math.div(452vw, $base-viewport-size) * 100);
$vw453: (math.div(453vw, $base-viewport-size) * 100);
$vw454: (math.div(454vw, $base-viewport-size) * 100);
$vw455: (math.div(455vw, $base-viewport-size) * 100);
$vw456: (math.div(456vw, $base-viewport-size) * 100);
$vw457: (math.div(457vw, $base-viewport-size) * 100);
$vw458: (math.div(458vw, $base-viewport-size) * 100);
$vw459: (math.div(459vw, $base-viewport-size) * 100);
$vw460: (math.div(460vw, $base-viewport-size) * 100);
$vw461: (math.div(461vw, $base-viewport-size) * 100);
$vw462: (math.div(462vw, $base-viewport-size) * 100);
$vw463: (math.div(463vw, $base-viewport-size) * 100);
$vw464: (math.div(464vw, $base-viewport-size) * 100);
$vw465: (math.div(465vw, $base-viewport-size) * 100);
$vw466: (math.div(466vw, $base-viewport-size) * 100);
$vw467: (math.div(467vw, $base-viewport-size) * 100);
$vw468: (math.div(468vw, $base-viewport-size) * 100);
$vw469: (math.div(469vw, $base-viewport-size) * 100);
$vw470: (math.div(470vw, $base-viewport-size) * 100);
$vw471: (math.div(471vw, $base-viewport-size) * 100);
$vw472: (math.div(472vw, $base-viewport-size) * 100);
$vw473: (math.div(473vw, $base-viewport-size) * 100);
$vw474: (math.div(474vw, $base-viewport-size) * 100);
$vw475: (math.div(475vw, $base-viewport-size) * 100);
$vw476: (math.div(476vw, $base-viewport-size) * 100);
$vw477: (math.div(477vw, $base-viewport-size) * 100);
$vw478: (math.div(478vw, $base-viewport-size) * 100);
$vw479: (math.div(479vw, $base-viewport-size) * 100);
$vw480: (math.div(480vw, $base-viewport-size) * 100);
$vw481: (math.div(481vw, $base-viewport-size) * 100);
$vw482: (math.div(482vw, $base-viewport-size) * 100);
$vw483: (math.div(483vw, $base-viewport-size) * 100);
$vw484: (math.div(484vw, $base-viewport-size) * 100);
$vw485: (math.div(485vw, $base-viewport-size) * 100);
$vw486: (math.div(486vw, $base-viewport-size) * 100);
$vw487: (math.div(487vw, $base-viewport-size) * 100);
$vw488: (math.div(488vw, $base-viewport-size) * 100);
$vw489: (math.div(489vw, $base-viewport-size) * 100);
$vw490: (math.div(490vw, $base-viewport-size) * 100);
$vw491: (math.div(491vw, $base-viewport-size) * 100);
$vw492: (math.div(492vw, $base-viewport-size) * 100);
$vw493: (math.div(493vw, $base-viewport-size) * 100);
$vw494: (math.div(494vw, $base-viewport-size) * 100);
$vw495: (math.div(495vw, $base-viewport-size) * 100);
$vw496: (math.div(496vw, $base-viewport-size) * 100);
$vw497: (math.div(497vw, $base-viewport-size) * 100);
$vw498: (math.div(498vw, $base-viewport-size) * 100);
$vw499: (math.div(499vw, $base-viewport-size) * 100);
$vw500: (math.div(500vw, $base-viewport-size) * 100);
$vw501: (math.div(501vw, $base-viewport-size) * 100);
$vw502: (math.div(502vw, $base-viewport-size) * 100);
$vw503: (math.div(503vw, $base-viewport-size) * 100);
$vw504: (math.div(504vw, $base-viewport-size) * 100);
$vw505: (math.div(505vw, $base-viewport-size) * 100);
$vw506: (math.div(506vw, $base-viewport-size) * 100);
$vw507: (math.div(507vw, $base-viewport-size) * 100);
$vw508: (math.div(508vw, $base-viewport-size) * 100);
$vw509: (math.div(509vw, $base-viewport-size) * 100);
$vw510: (math.div(510vw, $base-viewport-size) * 100);
$vw511: (math.div(511vw, $base-viewport-size) * 100);
$vw512: (math.div(512vw, $base-viewport-size) * 100);
$vw513: (math.div(513vw, $base-viewport-size) * 100);
$vw514: (math.div(514vw, $base-viewport-size) * 100);
$vw515: (math.div(515vw, $base-viewport-size) * 100);
$vw516: (math.div(516vw, $base-viewport-size) * 100);
$vw517: (math.div(517vw, $base-viewport-size) * 100);
$vw518: (math.div(518vw, $base-viewport-size) * 100);
$vw519: (math.div(519vw, $base-viewport-size) * 100);
$vw520: (math.div(520vw, $base-viewport-size) * 100);
$vw521: (math.div(521vw, $base-viewport-size) * 100);
$vw522: (math.div(522vw, $base-viewport-size) * 100);
$vw523: (math.div(523vw, $base-viewport-size) * 100);
$vw524: (math.div(524vw, $base-viewport-size) * 100);
$vw525: (math.div(525vw, $base-viewport-size) * 100);
$vw526: (math.div(526vw, $base-viewport-size) * 100);
$vw527: (math.div(527vw, $base-viewport-size) * 100);
$vw528: (math.div(528vw, $base-viewport-size) * 100);
$vw529: (math.div(529vw, $base-viewport-size) * 100);
$vw530: (math.div(530vw, $base-viewport-size) * 100);
$vw531: (math.div(531vw, $base-viewport-size) * 100);
$vw532: (math.div(532vw, $base-viewport-size) * 100);
$vw533: (math.div(533vw, $base-viewport-size) * 100);
$vw534: (math.div(534vw, $base-viewport-size) * 100);
$vw535: (math.div(535vw, $base-viewport-size) * 100);
$vw536: (math.div(536vw, $base-viewport-size) * 100);
$vw537: (math.div(537vw, $base-viewport-size) * 100);
$vw538: (math.div(538vw, $base-viewport-size) * 100);
$vw539: (math.div(539vw, $base-viewport-size) * 100);
$vw540: (math.div(540vw, $base-viewport-size) * 100);
$vw541: (math.div(541vw, $base-viewport-size) * 100);
$vw542: (math.div(542vw, $base-viewport-size) * 100);
$vw543: (math.div(543vw, $base-viewport-size) * 100);
$vw544: (math.div(544vw, $base-viewport-size) * 100);
$vw545: (math.div(545vw, $base-viewport-size) * 100);
$vw546: (math.div(546vw, $base-viewport-size) * 100);
$vw547: (math.div(547vw, $base-viewport-size) * 100);
$vw548: (math.div(548vw, $base-viewport-size) * 100);
$vw549: (math.div(549vw, $base-viewport-size) * 100);
$vw550: (math.div(550vw, $base-viewport-size) * 100);
$vw551: (math.div(551vw, $base-viewport-size) * 100);
$vw552: (math.div(552vw, $base-viewport-size) * 100);
$vw553: (math.div(553vw, $base-viewport-size) * 100);
$vw554: (math.div(554vw, $base-viewport-size) * 100);
$vw555: (math.div(555vw, $base-viewport-size) * 100);
$vw556: (math.div(556vw, $base-viewport-size) * 100);
$vw557: (math.div(557vw, $base-viewport-size) * 100);
$vw558: (math.div(558vw, $base-viewport-size) * 100);
$vw559: (math.div(559vw, $base-viewport-size) * 100);
$vw560: (math.div(560vw, $base-viewport-size) * 100);
$vw561: (math.div(561vw, $base-viewport-size) * 100);
$vw562: (math.div(562vw, $base-viewport-size) * 100);
$vw563: (math.div(563vw, $base-viewport-size) * 100);
$vw564: (math.div(564vw, $base-viewport-size) * 100);
$vw565: (math.div(565vw, $base-viewport-size) * 100);
$vw566: (math.div(566vw, $base-viewport-size) * 100);
$vw567: (math.div(567vw, $base-viewport-size) * 100);
$vw568: (math.div(568vw, $base-viewport-size) * 100);
$vw569: (math.div(569vw, $base-viewport-size) * 100);
$vw570: (math.div(570vw, $base-viewport-size) * 100);
$vw571: (math.div(571vw, $base-viewport-size) * 100);
$vw572: (math.div(572vw, $base-viewport-size) * 100);
$vw573: (math.div(573vw, $base-viewport-size) * 100);
$vw574: (math.div(574vw, $base-viewport-size) * 100);
$vw575: (math.div(575vw, $base-viewport-size) * 100);
$vw576: (math.div(576vw, $base-viewport-size) * 100);
$vw577: (math.div(577vw, $base-viewport-size) * 100);
$vw578: (math.div(578vw, $base-viewport-size) * 100);
$vw579: (math.div(579vw, $base-viewport-size) * 100);
$vw580: (math.div(580vw, $base-viewport-size) * 100);
$vw581: (math.div(581vw, $base-viewport-size) * 100);
$vw582: (math.div(582vw, $base-viewport-size) * 100);
$vw583: (math.div(583vw, $base-viewport-size) * 100);
$vw584: (math.div(584vw, $base-viewport-size) * 100);
$vw585: (math.div(585vw, $base-viewport-size) * 100);
$vw586: (math.div(586vw, $base-viewport-size) * 100);
$vw587: (math.div(587vw, $base-viewport-size) * 100);
$vw588: (math.div(588vw, $base-viewport-size) * 100);
$vw589: (math.div(589vw, $base-viewport-size) * 100);
$vw590: (math.div(590vw, $base-viewport-size) * 100);
$vw591: (math.div(591vw, $base-viewport-size) * 100);
$vw592: (math.div(592vw, $base-viewport-size) * 100);
$vw593: (math.div(593vw, $base-viewport-size) * 100);
$vw594: (math.div(594vw, $base-viewport-size) * 100);
$vw595: (math.div(595vw, $base-viewport-size) * 100);
$vw596: (math.div(596vw, $base-viewport-size) * 100);
$vw597: (math.div(597vw, $base-viewport-size) * 100);
$vw598: (math.div(598vw, $base-viewport-size) * 100);
$vw599: (math.div(599vw, $base-viewport-size) * 100);
$vw600: (math.div(600vw, $base-viewport-size) * 100);
$vw601: (math.div(601vw, $base-viewport-size) * 100);
$vw602: (math.div(602vw, $base-viewport-size) * 100);
$vw603: (math.div(603vw, $base-viewport-size) * 100);
$vw604: (math.div(604vw, $base-viewport-size) * 100);
$vw605: (math.div(605vw, $base-viewport-size) * 100);
$vw606: (math.div(606vw, $base-viewport-size) * 100);
$vw607: (math.div(607vw, $base-viewport-size) * 100);
$vw608: (math.div(608vw, $base-viewport-size) * 100);
$vw609: (math.div(609vw, $base-viewport-size) * 100);
$vw610: (math.div(610vw, $base-viewport-size) * 100);
$vw611: (math.div(611vw, $base-viewport-size) * 100);
$vw612: (math.div(612vw, $base-viewport-size) * 100);
$vw613: (math.div(613vw, $base-viewport-size) * 100);
$vw614: (math.div(614vw, $base-viewport-size) * 100);
$vw615: (math.div(615vw, $base-viewport-size) * 100);
$vw616: (math.div(616vw, $base-viewport-size) * 100);
$vw617: (math.div(617vw, $base-viewport-size) * 100);
$vw618: (math.div(618vw, $base-viewport-size) * 100);
$vw619: (math.div(619vw, $base-viewport-size) * 100);
$vw620: (math.div(620vw, $base-viewport-size) * 100);
$vw621: (math.div(621vw, $base-viewport-size) * 100);
$vw622: (math.div(622vw, $base-viewport-size) * 100);
$vw623: (math.div(623vw, $base-viewport-size) * 100);
$vw624: (math.div(624vw, $base-viewport-size) * 100);
$vw625: (math.div(625vw, $base-viewport-size) * 100);
$vw626: (math.div(626vw, $base-viewport-size) * 100);
$vw627: (math.div(627vw, $base-viewport-size) * 100);
$vw628: (math.div(628vw, $base-viewport-size) * 100);
$vw629: (math.div(629vw, $base-viewport-size) * 100);
$vw630: (math.div(630vw, $base-viewport-size) * 100);
$vw631: (math.div(631vw, $base-viewport-size) * 100);
$vw632: (math.div(632vw, $base-viewport-size) * 100);
$vw633: (math.div(633vw, $base-viewport-size) * 100);
$vw634: (math.div(634vw, $base-viewport-size) * 100);
$vw635: (math.div(635vw, $base-viewport-size) * 100);
$vw636: (math.div(636vw, $base-viewport-size) * 100);
$vw637: (math.div(637vw, $base-viewport-size) * 100);
$vw638: (math.div(638vw, $base-viewport-size) * 100);
$vw639: (math.div(639vw, $base-viewport-size) * 100);
$vw640: (math.div(640vw, $base-viewport-size) * 100);
$vw641: (math.div(641vw, $base-viewport-size) * 100);
$vw642: (math.div(642vw, $base-viewport-size) * 100);
$vw643: (math.div(643vw, $base-viewport-size) * 100);
$vw644: (math.div(644vw, $base-viewport-size) * 100);
$vw645: (math.div(645vw, $base-viewport-size) * 100);
$vw646: (math.div(646vw, $base-viewport-size) * 100);
$vw647: (math.div(647vw, $base-viewport-size) * 100);
$vw648: (math.div(648vw, $base-viewport-size) * 100);
$vw649: (math.div(649vw, $base-viewport-size) * 100);
$vw650: (math.div(650vw, $base-viewport-size) * 100);
$vw651: (math.div(651vw, $base-viewport-size) * 100);
$vw652: (math.div(652vw, $base-viewport-size) * 100);
$vw653: (math.div(653vw, $base-viewport-size) * 100);
$vw654: (math.div(654vw, $base-viewport-size) * 100);
$vw655: (math.div(655vw, $base-viewport-size) * 100);
$vw656: (math.div(656vw, $base-viewport-size) * 100);
$vw657: (math.div(657vw, $base-viewport-size) * 100);
$vw658: (math.div(658vw, $base-viewport-size) * 100);
$vw659: (math.div(659vw, $base-viewport-size) * 100);
$vw660: (math.div(660vw, $base-viewport-size) * 100);
$vw661: (math.div(661vw, $base-viewport-size) * 100);
$vw662: (math.div(662vw, $base-viewport-size) * 100);
$vw663: (math.div(663vw, $base-viewport-size) * 100);
$vw664: (math.div(664vw, $base-viewport-size) * 100);
$vw665: (math.div(665vw, $base-viewport-size) * 100);
$vw666: (math.div(666vw, $base-viewport-size) * 100);
$vw667: (math.div(667vw, $base-viewport-size) * 100);
$vw668: (math.div(668vw, $base-viewport-size) * 100);
$vw669: (math.div(669vw, $base-viewport-size) * 100);
$vw670: (math.div(670vw, $base-viewport-size) * 100);
$vw671: (math.div(671vw, $base-viewport-size) * 100);
$vw672: (math.div(672vw, $base-viewport-size) * 100);
$vw673: (math.div(673vw, $base-viewport-size) * 100);
$vw674: (math.div(674vw, $base-viewport-size) * 100);
$vw675: (math.div(675vw, $base-viewport-size) * 100);
$vw676: (math.div(676vw, $base-viewport-size) * 100);
$vw677: (math.div(677vw, $base-viewport-size) * 100);
$vw678: (math.div(678vw, $base-viewport-size) * 100);
$vw679: (math.div(679vw, $base-viewport-size) * 100);
$vw680: (math.div(680vw, $base-viewport-size) * 100);
$vw681: (math.div(681vw, $base-viewport-size) * 100);
$vw682: (math.div(682vw, $base-viewport-size) * 100);
$vw683: (math.div(683vw, $base-viewport-size) * 100);
$vw684: (math.div(684vw, $base-viewport-size) * 100);
$vw685: (math.div(685vw, $base-viewport-size) * 100);
$vw686: (math.div(686vw, $base-viewport-size) * 100);
$vw687: (math.div(687vw, $base-viewport-size) * 100);
$vw688: (math.div(688vw, $base-viewport-size) * 100);
$vw689: (math.div(689vw, $base-viewport-size) * 100);
$vw690: (math.div(690vw, $base-viewport-size) * 100);
$vw691: (math.div(691vw, $base-viewport-size) * 100);
$vw692: (math.div(692vw, $base-viewport-size) * 100);
$vw693: (math.div(693vw, $base-viewport-size) * 100);
$vw694: (math.div(694vw, $base-viewport-size) * 100);
$vw695: (math.div(695vw, $base-viewport-size) * 100);
$vw696: (math.div(696vw, $base-viewport-size) * 100);
$vw697: (math.div(697vw, $base-viewport-size) * 100);
$vw698: (math.div(698vw, $base-viewport-size) * 100);
$vw699: (math.div(699vw, $base-viewport-size) * 100);
$vw700: (math.div(700vw, $base-viewport-size) * 100);
$vw701: (math.div(701vw, $base-viewport-size) * 100);
$vw702: (math.div(702vw, $base-viewport-size) * 100);
$vw703: (math.div(703vw, $base-viewport-size) * 100);
$vw704: (math.div(704vw, $base-viewport-size) * 100);
$vw705: (math.div(705vw, $base-viewport-size) * 100);
$vw706: (math.div(706vw, $base-viewport-size) * 100);
$vw707: (math.div(707vw, $base-viewport-size) * 100);
$vw708: (math.div(708vw, $base-viewport-size) * 100);
$vw709: (math.div(709vw, $base-viewport-size) * 100);
$vw710: (math.div(710vw, $base-viewport-size) * 100);
$vw711: (math.div(711vw, $base-viewport-size) * 100);
$vw712: (math.div(712vw, $base-viewport-size) * 100);
$vw713: (math.div(713vw, $base-viewport-size) * 100);
$vw714: (math.div(714vw, $base-viewport-size) * 100);
$vw715: (math.div(715vw, $base-viewport-size) * 100);
$vw716: (math.div(716vw, $base-viewport-size) * 100);
$vw717: (math.div(717vw, $base-viewport-size) * 100);
$vw718: (math.div(718vw, $base-viewport-size) * 100);
$vw719: (math.div(719vw, $base-viewport-size) * 100);
$vw720: (math.div(720vw, $base-viewport-size) * 100);
$vw721: (math.div(721vw, $base-viewport-size) * 100);
$vw722: (math.div(722vw, $base-viewport-size) * 100);
$vw723: (math.div(723vw, $base-viewport-size) * 100);
$vw724: (math.div(724vw, $base-viewport-size) * 100);
$vw725: (math.div(725vw, $base-viewport-size) * 100);
$vw726: (math.div(726vw, $base-viewport-size) * 100);
$vw727: (math.div(727vw, $base-viewport-size) * 100);
$vw728: (math.div(728vw, $base-viewport-size) * 100);
$vw729: (math.div(729vw, $base-viewport-size) * 100);
$vw730: (math.div(730vw, $base-viewport-size) * 100);
$vw731: (math.div(731vw, $base-viewport-size) * 100);
$vw732: (math.div(732vw, $base-viewport-size) * 100);
$vw733: (math.div(733vw, $base-viewport-size) * 100);
$vw734: (math.div(734vw, $base-viewport-size) * 100);
$vw735: (math.div(735vw, $base-viewport-size) * 100);
$vw736: (math.div(736vw, $base-viewport-size) * 100);
$vw737: (math.div(737vw, $base-viewport-size) * 100);
$vw738: (math.div(738vw, $base-viewport-size) * 100);
$vw739: (math.div(739vw, $base-viewport-size) * 100);
$vw740: (math.div(740vw, $base-viewport-size) * 100);
$vw741: (math.div(741vw, $base-viewport-size) * 100);
$vw742: (math.div(742vw, $base-viewport-size) * 100);
$vw743: (math.div(743vw, $base-viewport-size) * 100);
$vw744: (math.div(744vw, $base-viewport-size) * 100);
$vw745: (math.div(745vw, $base-viewport-size) * 100);
$vw746: (math.div(746vw, $base-viewport-size) * 100);
$vw747: (math.div(747vw, $base-viewport-size) * 100);
$vw748: (math.div(748vw, $base-viewport-size) * 100);
$vw749: (math.div(749vw, $base-viewport-size) * 100);
$vw750: (math.div(750vw, $base-viewport-size) * 100);
$vw751: (math.div(751vw, $base-viewport-size) * 100);
$vw752: (math.div(752vw, $base-viewport-size) * 100);
$vw753: (math.div(753vw, $base-viewport-size) * 100);
$vw754: (math.div(754vw, $base-viewport-size) * 100);
$vw755: (math.div(755vw, $base-viewport-size) * 100);
$vw756: (math.div(756vw, $base-viewport-size) * 100);
$vw757: (math.div(757vw, $base-viewport-size) * 100);
$vw758: (math.div(758vw, $base-viewport-size) * 100);
$vw759: (math.div(759vw, $base-viewport-size) * 100);
$vw760: (math.div(760vw, $base-viewport-size) * 100);
$vw761: (math.div(761vw, $base-viewport-size) * 100);
$vw762: (math.div(762vw, $base-viewport-size) * 100);
$vw763: (math.div(763vw, $base-viewport-size) * 100);
$vw764: (math.div(764vw, $base-viewport-size) * 100);
$vw765: (math.div(765vw, $base-viewport-size) * 100);
$vw766: (math.div(766vw, $base-viewport-size) * 100);
$vw767: (math.div(767vw, $base-viewport-size) * 100);
$vw768: (math.div(768vw, $base-viewport-size) * 100);
$vw769: (math.div(769vw, $base-viewport-size) * 100);
$vw770: (math.div(770vw, $base-viewport-size) * 100);
$vw771: (math.div(771vw, $base-viewport-size) * 100);
$vw772: (math.div(772vw, $base-viewport-size) * 100);
$vw773: (math.div(773vw, $base-viewport-size) * 100);
$vw774: (math.div(774vw, $base-viewport-size) * 100);
$vw775: (math.div(775vw, $base-viewport-size) * 100);
$vw776: (math.div(776vw, $base-viewport-size) * 100);
$vw777: (math.div(777vw, $base-viewport-size) * 100);
$vw778: (math.div(778vw, $base-viewport-size) * 100);
$vw779: (math.div(779vw, $base-viewport-size) * 100);
$vw780: (math.div(780vw, $base-viewport-size) * 100);
$vw781: (math.div(781vw, $base-viewport-size) * 100);
$vw782: (math.div(782vw, $base-viewport-size) * 100);
$vw783: (math.div(783vw, $base-viewport-size) * 100);
$vw784: (math.div(784vw, $base-viewport-size) * 100);
$vw785: (math.div(785vw, $base-viewport-size) * 100);
$vw786: (math.div(786vw, $base-viewport-size) * 100);
$vw787: (math.div(787vw, $base-viewport-size) * 100);
$vw788: (math.div(788vw, $base-viewport-size) * 100);
$vw789: (math.div(789vw, $base-viewport-size) * 100);
$vw790: (math.div(790vw, $base-viewport-size) * 100);
$vw791: (math.div(791vw, $base-viewport-size) * 100);
$vw792: (math.div(792vw, $base-viewport-size) * 100);
$vw793: (math.div(793vw, $base-viewport-size) * 100);
$vw794: (math.div(794vw, $base-viewport-size) * 100);
$vw795: (math.div(795vw, $base-viewport-size) * 100);
$vw796: (math.div(796vw, $base-viewport-size) * 100);
$vw797: (math.div(797vw, $base-viewport-size) * 100);
$vw798: (math.div(798vw, $base-viewport-size) * 100);
$vw799: (math.div(799vw, $base-viewport-size) * 100);
$vw800: (math.div(800vw, $base-viewport-size) * 100);

// ---------- remサイズ表 ----------
$base-root-size: 10; //ルートのフォントサイズを指定（bodyのfont-size 16px換算）

$rem1: math.div(1rem, $base-root-size);
$rem2: math.div(2rem, $base-root-size);
$rem3: math.div(3rem, $base-root-size);
$rem4: math.div(4rem, $base-root-size);
$rem5: math.div(5rem, $base-root-size);
$rem6: math.div(6rem, $base-root-size);
$rem7: math.div(7rem, $base-root-size);
$rem8: math.div(8rem, $base-root-size);
$rem9: math.div(9rem, $base-root-size);
$rem10: math.div(10rem, $base-root-size);
$rem11: math.div(11rem, $base-root-size);
$rem12: math.div(12rem, $base-root-size);
$rem13: math.div(13rem, $base-root-size);
$rem14: math.div(14rem, $base-root-size);
$rem15: math.div(15rem, $base-root-size);
$rem16: math.div(16rem, $base-root-size);
$rem17: math.div(17rem, $base-root-size);
$rem18: math.div(18rem, $base-root-size);
$rem19: math.div(19rem, $base-root-size);
$rem20: math.div(20rem, $base-root-size);
$rem21: math.div(21rem, $base-root-size);
$rem22: math.div(22rem, $base-root-size);
$rem23: math.div(23rem, $base-root-size);
$rem24: math.div(24rem, $base-root-size);
$rem25: math.div(25rem, $base-root-size);
$rem26: math.div(26rem, $base-root-size);
$rem27: math.div(27rem, $base-root-size);
$rem28: math.div(28rem, $base-root-size);
$rem29: math.div(29rem, $base-root-size);
$rem30: math.div(30rem, $base-root-size);
$rem31: math.div(31rem, $base-root-size);
$rem32: math.div(32rem, $base-root-size);
$rem33: math.div(33rem, $base-root-size);
$rem34: math.div(34rem, $base-root-size);
$rem35: math.div(35rem, $base-root-size);
$rem36: math.div(36rem, $base-root-size);
$rem37: math.div(37rem, $base-root-size);
$rem38: math.div(38rem, $base-root-size);
$rem39: math.div(39rem, $base-root-size);
$rem40: math.div(40rem, $base-root-size);
$rem41: math.div(41rem, $base-root-size);
$rem42: math.div(42rem, $base-root-size);
$rem43: math.div(43rem, $base-root-size);
$rem44: math.div(44rem, $base-root-size);
$rem45: math.div(45rem, $base-root-size);
$rem46: math.div(46rem, $base-root-size);
$rem47: math.div(47rem, $base-root-size);
$rem48: math.div(48rem, $base-root-size);
$rem49: math.div(49rem, $base-root-size);
$rem50: math.div(50rem, $base-root-size);
$rem51: math.div(51rem, $base-root-size);
$rem52: math.div(52rem, $base-root-size);
$rem53: math.div(53rem, $base-root-size);
$rem54: math.div(54rem, $base-root-size);
$rem55: math.div(55rem, $base-root-size);
$rem56: math.div(56rem, $base-root-size);
$rem57: math.div(57rem, $base-root-size);
$rem58: math.div(58rem, $base-root-size);
$rem59: math.div(59rem, $base-root-size);
$rem60: math.div(60rem, $base-root-size);
$rem61: math.div(61rem, $base-root-size);
$rem62: math.div(62rem, $base-root-size);
$rem63: math.div(63rem, $base-root-size);
$rem64: math.div(64rem, $base-root-size);
$rem65: math.div(65rem, $base-root-size);
$rem66: math.div(66rem, $base-root-size);
$rem67: math.div(67rem, $base-root-size);
$rem68: math.div(68rem, $base-root-size);
$rem69: math.div(69rem, $base-root-size);
$rem70: math.div(70rem, $base-root-size);
$rem71: math.div(71rem, $base-root-size);
$rem72: math.div(72rem, $base-root-size);
$rem73: math.div(73rem, $base-root-size);
$rem74: math.div(74rem, $base-root-size);
$rem75: math.div(75rem, $base-root-size);
$rem76: math.div(76rem, $base-root-size);
$rem77: math.div(77rem, $base-root-size);
$rem78: math.div(78rem, $base-root-size);
$rem79: math.div(79rem, $base-root-size);
$rem80: math.div(80rem, $base-root-size);
$rem81: math.div(81rem, $base-root-size);
$rem82: math.div(82rem, $base-root-size);
$rem83: math.div(83rem, $base-root-size);
$rem84: math.div(84rem, $base-root-size);
$rem85: math.div(85rem, $base-root-size);
$rem86: math.div(86rem, $base-root-size);
$rem87: math.div(87rem, $base-root-size);
$rem88: math.div(88rem, $base-root-size);
$rem89: math.div(89rem, $base-root-size);
$rem90: math.div(90rem, $base-root-size);
$rem91: math.div(91rem, $base-root-size);
$rem92: math.div(92rem, $base-root-size);
$rem93: math.div(93rem, $base-root-size);
$rem94: math.div(94rem, $base-root-size);
$rem95: math.div(95rem, $base-root-size);
$rem96: math.div(96rem, $base-root-size);
$rem97: math.div(97rem, $base-root-size);
$rem98: math.div(98rem, $base-root-size);
$rem99: math.div(99rem, $base-root-size);
$rem100: math.div(100rem, $base-root-size);
$rem101: math.div(101rem, $base-root-size);
$rem102: math.div(102rem, $base-root-size);
$rem103: math.div(103rem, $base-root-size);
$rem104: math.div(104rem, $base-root-size);
$rem105: math.div(105rem, $base-root-size);
$rem106: math.div(106rem, $base-root-size);
$rem107: math.div(107rem, $base-root-size);
$rem108: math.div(108rem, $base-root-size);
$rem109: math.div(109rem, $base-root-size);
$rem110: math.div(110rem, $base-root-size);
$rem111: math.div(111rem, $base-root-size);
$rem112: math.div(112rem, $base-root-size);
$rem113: math.div(113rem, $base-root-size);
$rem114: math.div(114rem, $base-root-size);
$rem115: math.div(115rem, $base-root-size);
$rem116: math.div(116rem, $base-root-size);
$rem117: math.div(117rem, $base-root-size);
$rem118: math.div(118rem, $base-root-size);
$rem119: math.div(119rem, $base-root-size);
$rem120: math.div(120rem, $base-root-size);
$rem121: math.div(121rem, $base-root-size);
$rem122: math.div(122rem, $base-root-size);
$rem123: math.div(123rem, $base-root-size);
$rem124: math.div(124rem, $base-root-size);
$rem125: math.div(125rem, $base-root-size);
$rem126: math.div(126rem, $base-root-size);
$rem127: math.div(127rem, $base-root-size);
$rem128: math.div(128rem, $base-root-size);
$rem129: math.div(129rem, $base-root-size);
$rem130: math.div(130rem, $base-root-size);
$rem131: math.div(131rem, $base-root-size);
$rem132: math.div(132rem, $base-root-size);
$rem133: math.div(133rem, $base-root-size);
$rem134: math.div(134rem, $base-root-size);
$rem135: math.div(135rem, $base-root-size);
$rem136: math.div(136rem, $base-root-size);
$rem137: math.div(137rem, $base-root-size);
$rem138: math.div(138rem, $base-root-size);
$rem139: math.div(139rem, $base-root-size);
$rem140: math.div(140rem, $base-root-size);
$rem141: math.div(141rem, $base-root-size);
$rem142: math.div(142rem, $base-root-size);
$rem143: math.div(143rem, $base-root-size);
$rem144: math.div(144rem, $base-root-size);
$rem145: math.div(145rem, $base-root-size);
$rem146: math.div(146rem, $base-root-size);
$rem147: math.div(147rem, $base-root-size);
$rem148: math.div(148rem, $base-root-size);
$rem149: math.div(149rem, $base-root-size);
$rem150: math.div(150rem, $base-root-size);
$rem151: math.div(151rem, $base-root-size);
$rem152: math.div(152rem, $base-root-size);
$rem153: math.div(153rem, $base-root-size);
$rem154: math.div(154rem, $base-root-size);
$rem155: math.div(155rem, $base-root-size);
$rem156: math.div(156rem, $base-root-size);
$rem157: math.div(157rem, $base-root-size);
$rem158: math.div(158rem, $base-root-size);
$rem159: math.div(159rem, $base-root-size);
$rem160: math.div(160rem, $base-root-size);
$rem161: math.div(161rem, $base-root-size);
$rem162: math.div(162rem, $base-root-size);
$rem163: math.div(163rem, $base-root-size);
$rem164: math.div(164rem, $base-root-size);
$rem165: math.div(165rem, $base-root-size);
$rem166: math.div(166rem, $base-root-size);
$rem167: math.div(167rem, $base-root-size);
$rem168: math.div(168rem, $base-root-size);
$rem169: math.div(169rem, $base-root-size);
$rem170: math.div(170rem, $base-root-size);
$rem171: math.div(171rem, $base-root-size);
$rem172: math.div(172rem, $base-root-size);
$rem173: math.div(173rem, $base-root-size);
$rem174: math.div(174rem, $base-root-size);
$rem175: math.div(175rem, $base-root-size);
$rem176: math.div(176rem, $base-root-size);
$rem177: math.div(177rem, $base-root-size);
$rem178: math.div(178rem, $base-root-size);
$rem179: math.div(179rem, $base-root-size);
$rem180: math.div(180rem, $base-root-size);
$rem181: math.div(181rem, $base-root-size);
$rem182: math.div(182rem, $base-root-size);
$rem183: math.div(183rem, $base-root-size);
$rem184: math.div(184rem, $base-root-size);
$rem185: math.div(185rem, $base-root-size);
$rem186: math.div(186rem, $base-root-size);
$rem187: math.div(187rem, $base-root-size);
$rem188: math.div(188rem, $base-root-size);
$rem189: math.div(189rem, $base-root-size);
$rem190: math.div(190rem, $base-root-size);
$rem191: math.div(191rem, $base-root-size);
$rem192: math.div(192rem, $base-root-size);
$rem193: math.div(193rem, $base-root-size);
$rem194: math.div(194rem, $base-root-size);
$rem195: math.div(195rem, $base-root-size);
$rem196: math.div(196rem, $base-root-size);
$rem197: math.div(197rem, $base-root-size);
$rem198: math.div(198rem, $base-root-size);
$rem199: math.div(199rem, $base-root-size);
$rem200: math.div(200rem, $base-root-size);
$rem201: math.div(201rem, $base-root-size);
$rem202: math.div(202rem, $base-root-size);
$rem203: math.div(203rem, $base-root-size);
$rem204: math.div(204rem, $base-root-size);
$rem205: math.div(205rem, $base-root-size);
$rem206: math.div(206rem, $base-root-size);
$rem207: math.div(207rem, $base-root-size);
$rem208: math.div(208rem, $base-root-size);
$rem209: math.div(209rem, $base-root-size);
$rem210: math.div(210rem, $base-root-size);
$rem211: math.div(211rem, $base-root-size);
$rem212: math.div(212rem, $base-root-size);
$rem213: math.div(213rem, $base-root-size);
$rem214: math.div(214rem, $base-root-size);
$rem215: math.div(215rem, $base-root-size);
$rem216: math.div(216rem, $base-root-size);
$rem217: math.div(217rem, $base-root-size);
$rem218: math.div(218rem, $base-root-size);
$rem219: math.div(219rem, $base-root-size);
$rem220: math.div(220rem, $base-root-size);
$rem221: math.div(221rem, $base-root-size);
$rem222: math.div(222rem, $base-root-size);
$rem223: math.div(223rem, $base-root-size);
$rem224: math.div(224rem, $base-root-size);
$rem225: math.div(225rem, $base-root-size);
$rem226: math.div(226rem, $base-root-size);
$rem227: math.div(227rem, $base-root-size);
$rem228: math.div(228rem, $base-root-size);
$rem229: math.div(229rem, $base-root-size);
$rem230: math.div(230rem, $base-root-size);
$rem231: math.div(231rem, $base-root-size);
$rem232: math.div(232rem, $base-root-size);
$rem233: math.div(233rem, $base-root-size);
$rem234: math.div(234rem, $base-root-size);
$rem235: math.div(235rem, $base-root-size);
$rem236: math.div(236rem, $base-root-size);
$rem237: math.div(237rem, $base-root-size);
$rem238: math.div(238rem, $base-root-size);
$rem239: math.div(239rem, $base-root-size);
$rem240: math.div(240rem, $base-root-size);
$rem241: math.div(241rem, $base-root-size);
$rem242: math.div(242rem, $base-root-size);
$rem243: math.div(243rem, $base-root-size);
$rem244: math.div(244rem, $base-root-size);
$rem245: math.div(245rem, $base-root-size);
$rem246: math.div(246rem, $base-root-size);
$rem247: math.div(247rem, $base-root-size);
$rem248: math.div(248rem, $base-root-size);
$rem249: math.div(249rem, $base-root-size);
$rem250: math.div(250rem, $base-root-size);
$rem251: math.div(251rem, $base-root-size);
$rem252: math.div(252rem, $base-root-size);
$rem253: math.div(253rem, $base-root-size);
$rem254: math.div(254rem, $base-root-size);
$rem255: math.div(255rem, $base-root-size);
$rem256: math.div(256rem, $base-root-size);
$rem257: math.div(257rem, $base-root-size);
$rem258: math.div(258rem, $base-root-size);
$rem259: math.div(259rem, $base-root-size);
$rem260: math.div(260rem, $base-root-size);
$rem261: math.div(261rem, $base-root-size);
$rem262: math.div(262rem, $base-root-size);
$rem263: math.div(263rem, $base-root-size);
$rem264: math.div(264rem, $base-root-size);
$rem265: math.div(265rem, $base-root-size);
$rem266: math.div(266rem, $base-root-size);
$rem267: math.div(267rem, $base-root-size);
$rem268: math.div(268rem, $base-root-size);
$rem269: math.div(269rem, $base-root-size);
$rem270: math.div(270rem, $base-root-size);
$rem271: math.div(271rem, $base-root-size);
$rem272: math.div(272rem, $base-root-size);
$rem273: math.div(273rem, $base-root-size);
$rem274: math.div(274rem, $base-root-size);
$rem275: math.div(275rem, $base-root-size);
$rem276: math.div(276rem, $base-root-size);
$rem277: math.div(277rem, $base-root-size);
$rem278: math.div(278rem, $base-root-size);
$rem279: math.div(279rem, $base-root-size);
$rem280: math.div(280rem, $base-root-size);
$rem281: math.div(281rem, $base-root-size);
$rem282: math.div(282rem, $base-root-size);
$rem283: math.div(283rem, $base-root-size);
$rem284: math.div(284rem, $base-root-size);
$rem285: math.div(285rem, $base-root-size);
$rem286: math.div(286rem, $base-root-size);
$rem287: math.div(287rem, $base-root-size);
$rem288: math.div(288rem, $base-root-size);
$rem289: math.div(289rem, $base-root-size);
$rem290: math.div(290rem, $base-root-size);
$rem291: math.div(291rem, $base-root-size);
$rem292: math.div(292rem, $base-root-size);
$rem293: math.div(293rem, $base-root-size);
$rem294: math.div(294rem, $base-root-size);
$rem295: math.div(295rem, $base-root-size);
$rem296: math.div(296rem, $base-root-size);
$rem297: math.div(297rem, $base-root-size);
$rem298: math.div(298rem, $base-root-size);
$rem299: math.div(299rem, $base-root-size);
$rem300: math.div(300rem, $base-root-size);

// ---------- Grid containers ----------
$container-padding: $vw16;
$container-md-padding: 3.125%;

$container-margin: $vw16;
$container-md-marign: 3.125%;

$container-max-width: 100%;
$container-md-max-width: 100%;
$container-lg-max-width: 1152px;

$inner-md-max-width: 700px;
$inner-lg-max-width: 960px;
