doctype html

block locals
  - var title = 'My Website';

html(lang="en")
  head
    meta(charset="urf-8")
    meta(nema="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
  body
    include _menu.pug
    block content
