extends _layout.pug

block locals
  - var title = 'Hello PUG'

block content
  h1 Heloo World!
  img(src="img/about/icon.png" width="800" height="500" alt="テスト")
  img(src="img/about/thumbnail.jpg")
  p テキストテキストテキストテキああああ
