<footer class="footer">
  <div class="footer-inner">
    <nav class="footer-global-navi">
      <ul class="footer-menu-list">
        <li class="footer-menu-list__item"><a href="guide.html">ご利用ガイド</a></li>
        <li class="footer-menu-list__item"><a href="privacy.html">プライバシーポリシー</a></li>
        <li class="footer-menu-list__item"><a href="terms.html">利用規約</a></li>
        <li class="footer-menu-list__item"><a href="company.html">運営会社</a></li>
        <li class="footer-menu-list__item"><a href="https://www.jiho.co.jp/contact/tabid/66/Default.aspx" target="_blank" rel="noopener">お問い合わせ</a></li>
      </ul>
    </nav>
    <div class="footer-copyright">&copy; Jiho Inc. All rights reserved</div>
  </div>
</footer><!-- end footer -->
