<header class="header">
  <div class="header-inner">
    <h1 class="header-title"><a href="/">腎機能別薬剤投与量POCKETBOOK 第4版<br class="d-md-none">薬剤検索WEB</a></h1>
    <div class="btn-memu" id="js-header-memu"><span></span><span></span><span></span></div>
    <div class="header-memu">
      <div class="header-memu-inner">
        <form action="">
          <div class="search-form">
            <div class="form-group">
              <div class="form-label">一般名・商品名から探す</div>
              <div class="form-parts">
                <input type="search" class="form-search" placeholder="一般名・商品名で検索">
              </div>
            </div>
            <div class="form-group">
              <div class="form-label">分類から探す</div>
              <div class="form-parts">
                <div class="form-select">
                  <select name="" id="">
                    <option value="">分類から探す</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header><!-- end header -->
