<!DOCTYPE html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
<head>
<title><%= meta.title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<meta name="format-detection" content="telephone=no">
<!--OGP-->
<meta property="og:locale" content="ja_JP">
<meta property="og:title" content="<%= meta.title %>">
<meta property="og:type" content="website">
<meta property="og:url" content="ドメイン/<%= meta.url %>">
<!-- <meta property="og:image" content="../img/common/img_ogp.png"> -->
<meta property="og:site_name" content="サイトの名前">
<meta property="og:description" content="<%= meta.description %>">
<meta name="twitter:card" content="summary_large_image">
<!--font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<!--style-->

</head>
<body>
