@charset "utf-8";

//---------- import ----------
@use "../global" as *;

/*--------------- footer（object） ---------------*/
//768px〜（TAB）
@include media-breakpoint-md {
}

//992px〜（PC）
@include media-breakpoint-lg {
}

//1200px〜（PC Oversize）
@include media-breakpoint-xl {
}

// ---------- IE11ハック ----------
@media all and (-ms-high-contrast: none) {}
