<%
const meta = {
  title: '腎機能別薬剤投与量POCKETBOOK 第4版 薬剤検索WEB',
  page: 'top',
  url: 'index.html',
  path: ''
};
%>
<%- include('includes/_head', {meta: meta}) %>
<div class="page-wrap">
  <div class="page-top">
    <div class="contents container">
      <div class="page-title-index">
        <div class="page-title-index__authority">日本腎臓病薬物療法学会 編集</div>
        <h1 class="page-title-index__title">腎機能別薬剤投与量<br class="d-md-none">POCKETBOOK 第4版</h1>
        <h2 class="page-title-index__subtitle">薬剤検索WEB</h2>
      </div>
      <div class="search">
        <form action="">
          <div class="form-group">
            <div class="form-label">一般名・商品名から探す</div>
            <div class="form-parts">
              <input type="search" class="form-search" placeholder="一般名・商品名で検索">
            </div>
          </div>
          <img src="../img/about/img_top_introduction_nagareyama_style_pc.webp" alt="">
          <div class="form-group">
            <div class="form-label">分類から探す</div>
            <div class="form-parts">
              <div class="form-select">
                <select name="" id="">
                  <option value="">分類から探す</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('includes/_footer') %>
</div><!-- end pageWrap -->
</body>
</html>
