<%
const meta = {
  title: 'ページタイトル',
  page: 'top',
  url: 'index.html',
  path: ''
};
%>
<%- include('includes/_head', {meta: meta}) %>
<div class="page-wrap">
  <div class="page-top">
		<p class="text-3xl py-10">テキストテキストテキストテキストテキスト</p>
  </div>
  <%- include('includes/_footer') %>
</div><!-- end pageWrap -->
</body>
</html>
